<div class="dropdown">
  <strong><%= current_user.name %></strong>
  <div class="dropdown-content">
    <p><%= link_to  'Create New Item', new_item_path %></p>
    <p><%= link_to 'Edit profile', edit_user_registration_path %></p>
    <p><%= button_to "Logout", destroy_user_session_path, :method => :delete %></p>
  </div><!-- end of .dropdown-content -->
</div><!-- end of .dropdown -->
