body {
  margin: 0;
  background-color: white;
}

.devise {
    margin: 0;
    width: 100%;
    text-align: center;

  img.style_image {
     display: block;
     margin-top: 1rem;
     margin-left: auto;
     margin-right: auto;
     width: 80%; }

  div.search {

    height: 1.5rem;
    margin: 2rem;

  input#item{
    height: 1.5rem;
    width: 50%;
    font-size: 15px;
    margin-left: 2rem;
    border-right: 0;
    padding-right: 0; }

  input#search{
    margin: 0;
    padding-left: 0;
    font-size: 1.1rem;
    background-color: white; }
 }//end of .search
} // end of .devise



//+++++++++++++++++++++++ Media-Query for Tablet sizes ++++++++++++++++++++++++

@media only screen and (min-width: 765px) {

.devise{
  i{
    font-size: 15px; }

.search{
  margin: 2rem;

  input#item{
   width: 20rem;
   height: 3rem;}

   input#search{
    height: 2rem; }
}// end of .search

  img.style_image {
     width: 70%; }

}//end of .devise
}// end of media-query

// ++++++++++++++++++++++++++++++ DeskTop +++++++++++++++++++++++++++++++++++

@media only screen and (min-width: 992px) {

.devise{
  display: flex;
  margin-bottom: 2rem;

 div.search{
  margin: 0;
  margin-top: 25%;
  width: 100%;

  input#item{
  }

  input#search{
  }
}// end of .search

  img.style_image{
   width: 25%;
   margin-left: 2rem;
   margin-right: 4rem;}
}//end of devise

}//end of min 992px
