<div class="print-order-report hide-for-print">
 <h3><a href="#" onclick="window.print();return false;">Imprimir Página</a></h3>
</div>
  <%= react_component('Orders', props: {}, prerender: false) %>
