<div class="orders-links">
  <%= link_to 'Página De Inicio', items_path %>
  <a href="#" onclick="window.print();return false;">Imprimir</a>
</div>
  <%= react_component('Orders', props: {orders: @orders}, prerender: false) %>
