<%# = react_component('Order', props: {order: @order, cart: @cart, cart_items: @cart_items}, prerender: false) %>
<%= link_to 'Orders', orders_path %>
<%= link_to 'Edit', edit_order_path(@order) %>
<div class="order">
  <h1><%= @order.id %></h1>
  <div id="print-refund-div" class="hide-for-print">
    <a href="#" onclick="window.print();return false;">Imprimir Página</a>
  </div>
  <%= render 'order_details'%>
</div>
