// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";

.item-cards ul{
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  div {
    background-color: #C7C7C5;
    color: black;
    width: 250px;
    height: 360px;
  }
}

// +++++ SSM +++++

// .item-cards ul{
//   padding: 0;
//   display:flex;
//   flex-wrap: wrap;
//   margin: 0 auto;
//   justify-content: space-around;
//   div {
//     background-color: $sandBrown;
//     padding: 2em;
//     width: 200px;
//     height: 250px;
//   }
// }
