.item {
  text-align: center;
  padding: 1em;
  margin: 30px 5px;

  .item-pic {
    width: 200px;
    height: 200px;
  }

  h2 {
    margin: 3px;
    text-align: center;
  }

  p {
    font-size: 17px;
    font-weight: bolder;
    margin: 0;
  }
} // end of .item
