#no-items {
  background-color: grey;
  max-width: 75%;
  margin: 0 auto;
  opacity: 0.5;
}
#no-items p {
  color: white;
  max-width: 75%;
  font-size: 20px;
  text-align: center;
  padding: 2em;
}

.item-cards ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > div {
    background-color: #c7c7c5;
    color: black;
    width: 250px;
    height: auto;
  }
}

#items-searchbar {
  min-width: 40%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.2em;
  display: block;
  padding: 0.7em;
}

#nav {
  margin: 0px 10px 25px;

  ul {
    background-color: darkgrey;
  }

  a {
    color: black;
  }
}
