// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-cards ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  & > div {
    background-color: #c7c7c5;
    color: black;
    width: 250px;
    height: auto;
  }
}

#items-searchbar {
  min-width: 40%;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.2em;
  display: block;
  padding: 0.7em;
}
