/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
*/
#nav-list {
  position: inherit;
}

.category-brand{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 0;
  margin-top: 1rem;
  width: 100%; }

.login {
  margin: 30px;
  float: right;

 a{
  font-size: 15px;
  text-decoration: none;
  color: black; }

 a:hover{
  color: blue; }
}// end of .login

 #cart{
   width: 100%;

  table{
    width: 100vw;

    tbody{
     display: block;
     width: 100%;
     overflow-y: scroll;}

   tr{
     width: 100%; }

   tr:nth-child(even){ background-color: #f2f2f2;}

   th{
     padding: 12px;
     text-align: left;
     background-color: #4CAF50;
     color:white; }

   input.item-price{
     width: 50px; }

   input.item-quantity{
     width: 50px; }

   input.item-subtotal{
     width: 60px; }

   td, th{
     border-collapse: collapse;
     border: 1px black;
     padding: 15px; }
   }//end of table
 }//end of cart


  @media only screen and (min-width: 765px) {
    .category-brand{
      display:none; }
    }//end of min 765px



.order {
  input{
    width: 50px;
  }
}

@import "variables.scss";
@import "cart.scss";
@import "nav_list/*";
@import "items/*";
@import "font-awesome";
