.category-list{
  top: 0;
  position: fixed;
  width: 100vw;
  color: white;
  background-color: black;
  ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding: 0;
    li {
    font-size: 20px;
    }
    li:hover {
     color: red;
    }
  }
}

.items-component {
  margin: 70px 0 0 0;
}
