.category-list{
  width: 100vw;
  color: white;
  background-color: black;
  ul {
    display: flex;
    margin: 0;
    padding: .75em;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    li {
    font-size: 20px;
    }
    li:hover {
     color: #29FF30;
    }
  }
}

// .items-component {
//   margin: 25px 0 0 0;
// }
