// +++++++++++++++++++++++++++ SEARCH BAR ++++++++++++++++++++++++

.search {
  text-align: center;
  margin: 1rem;

  input {
    height: 2rem;
    width: 50vw;
  }

  i {
    position: relative;
    font-size: 16px;
    right: 25px;
    bottom: 0.1px;
  }

  i:hover {
    cursor: pointer;
    font-size: 19px;
  }
} //end of search-bar

@import "items/*";
@import "accountant/*";
@import "cart/*";
