#range-buttons-div {
  display: flex;
  justify-content: space-around;
}

#accountant-total {
  background: yellow;
  width: fit-content;
  margin: 0 auto;
}

#cash {
  background-color: green;
  color: white;
}

// +++++++++++++++++++++++++++++++ TABLE +++++++++++++++++++++++

input.quantity-input {
  width: 50px;
}

// ++++++++++++++++++++++++++++ phone-map ++++++++++++++++++

.phone-map {
  text-align: center;

  a {
    color: black;
    margin: 0 50px 0 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      margin: none;
      font-size: 30px;
    }

    i:hover {
      font-size: 32px;
    }
  } //end of button
} //end of .phone-map

// +++++++++++++++++++++++++++ SEARCH BAR ++++++++++++++++++++++++

.search {
  text-align: center;
  margin: 1rem;

  input {
    height: 2rem;
    width: 50vw;
  }

  i {
    position: relative;
    font-size: 16px;
    right: 25px;
    bottom: 0.1px;
  }

  i:hover {
    cursor: pointer;
    font-size: 19px;
  }
} //end of search-bar

.accountant-inventory {
  display: flex;
  justify-content: center;
  margin: 20px;

  input {
    width: 15px;
  }
}

// ++++++++++++++++++++++++++++ phone-map ++++++++++++++++++++++++++++

.phone-map {
  text-align: center;

  a {
    color: black;
    margin: 0 50px 0 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      margin: none;
      font-size: 30px;
    }

    i:hover {
      font-size: 32px;
    }
  } //end of button
} //end of .phone-map

// /++++++++++++++++++++++++++++++ NAV ++++++++++++++++++++++++++++
#nav-list {
  position: inherit;

  .dropdown {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
} //end of #nav-list

.category-brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: white;
  margin: 0;
  margin-top: 1rem;
  width: 100%;
}

@media only screen and (min-width: 765px) {
  #nav-list {
    .dropdown {
      display: flex;
      flex-direction: column;
    }
  } //end of #nav-list

  div.category-brand {
    display: none;
  }
} //end of min 765px

// ++++++++++++++++++++++++++++++ SAVED CARTS ===============================
#saved-carts {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  .active {
    border: green 2px solid;
  }
  .saved-cart {
    position: relative;
    .saved-cart-button {
      margin: 0;
    }
    .remove-saved-cart {
      background-color: darkgrey;
      border-radius: 50%;
      padding: 0 0.1em 0.1em 0.1em;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
}

@import "nav_list/*";
@import "items/*";
@import "cart.scss";
