@import "hello_world.scss";

@media print {
  html {
    text-align: center;
  }

  input {
    border: none;
  }

  table {
    border-spacing: 12px;
    margin: 3rem;
  }

  td,
  th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px;
    text-align: center;
  }

  .hide-for-print {
    display: none !important;
  }
} //end of media print
