// +++++++++++++++++++++++++++ ORDERS +++++++++++++++++//
.edit-delete-order {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

#total {
  background-color: yellow;
}

#cash {
  background-color: green;
  color: white;
}

.orders {
  h4 {
    text-align: center;
    margin: 10px 0;
  }

  p {
    text-align: center;
    margin: 10px 10px;
    position: relative;
  }

  td {
    text-align: center;
  }

  .search-orders {
    display: flex;
    justify-content: center;
  }

  .date-range {
    display: flex;
    justify-content: center;
  }
} //end of .orders

// +++++++++++++++++++++++++ .item-order-table ++++++++++++++++

.total-refund {
  background-color: yellow;
}

input#item_order_quantity_refunded {
  width: 50px;
}

.orders-links {
  display: flex;
  justify-content: space-around;
}

#range-buttons-div {
  display: flex;
  justify-content: space-around;
}

#print-refund-div {
  display: flex;
  justify-content: space-around;
}
