// +++++++++++++++++++++++++++ ORDERS +++++++++++++++++++++++++++++++++++++//

.orders {

  .search-orders {
    display: flex;
    justify-content: center; }

  .date-range {
    display: flex;
    justify-content: center; }
}//end of .orders
