@media print {
  // FOR Print
  * {
    color: black !important;
    font-size: 16px !important;
  }

  td {
    text-align: center !important;
  }

  .devise {
    display: flex !important;
    justify-content: center !important;

    img {
      width: 500px !important;
    }
  } // end of .devise

  input {
    width: 95px !important;
  }
} //end of @media print

@import "variables.scss";
@import "nav_list/*";
@import "items/*";
@import "font-awesome";
