@media print {
  // FOR Print
  * {
    color: black !important;
    font-size: 16px !important;
  }

  td {
    text-align: center !important;
  }

  input {
    width: 95px !important;
  }

  .cart-buttons,
  .hide-for-print {
    display: none !important;
  }

  // ++++++++++++++++++++++++++++++ CART BUTTONS +++++++++++++++++++++

  .cart-buttons {
    text-align: center;
  }
} //end of @media print
