.brand-list ul{
  display: flex;
  justify-content: space-around;
    li {
      list-style: none;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .brand-list {
      display: none;
      }
  }
