 .brand-list {
   float: right;
 }

@media only screen and (min-width: 768px)   {
  .brand-list{
    display: flex;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: center;
      padding: 0;
    li {
      margin: 13px;
      font-size: 20px; }
    li:hover {
      color: #0051FF;
      cursor: pointer; }
    }// end of ul
  }// end of brand-list
}// end of media-query min 768px
