.category-list{
  width: 100vw;
  color: white;
  background-color: black;
  ul {
    display: flex;
    margin: 0;
    padding: .75em;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    li {
    font-size: 20px;
    }
    li:hover {
     color: #0051FF;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .category-list{
    display: none;
  }
}
