@media only screen and (min-width: 765px) {
  .category-list {
    justify-content: center;
    display: flex;
    width: 100%;
    color: white;
    background-color: black;

    ul {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        margin: 13px;
        font-size: 20px;
      }

      li:hover {
        color: #0051ff;
        cursor: pointer;
      }
    } // end of ul
  } // end of category-list
} // end of media-query min 768px
